# Build files
*.o
*.so
*.dylib
*.a
build/
*.app
moc_*
ui_*
qrc_*
Makefile
.qmake.stash
bu/
kr images/

# IDE files
.vscode/
.idea/
*.pro.user

# macOS
.DS_Store
test_neg_sub.txt

# bash
bash.sh
build.sh
setup-qt-vscode.sh

# tex
kr.tex
kr.cpp 
Отчет - Анари .pdf
